<div class="section">
  <div class="title">
    <div class="section-title">{{genName "Languages"}}</div>
  </div>
  <div class="section-content">
    <div class="native-language">
      <b>{{genName "Native language"}}:</b>
      <input name="system.nativeLanguage" type="text" value="{{system.nativeLanguage}}" placeholder="{{genName 'language'}}" />
    </div>
    <!-- Fix native language selector and the delete button -->
    </select><br/>
    <div class="language-container">
      {{#each data.items as |item|}}
        {{#if (checkEqual item.type "Languageskill")}}
          <div class="language-box item skill" data-item-id="{{item._id}}">
            <div data-action="itemControl" data-subaction="edit" style="cursor: pointer;">
              {{item.name}} ({{item.system.level}} / {{#if item.system.humanSpoken}}6{{else}}3{{/if}})
            </div>
            <div class="item-controls item-control">
              <a class="skill-control" title="{{ skillName 'decrease' }}" data-action="decrease"><i class="fas fa-minus"></i></a>
              <a class="skill-control" title="{{ skillName 'increase' }}" data-action="increase"><i class="fas fa-plus"></i></a>
              <a class="skill-control" title="{{ itemName 'Delete' }}" data-action="delete"><i class="fas fa-trash"></i></a>
            </div>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
