<div class="actor-main row-section wrap">
  <div class="attributes-table" cellpadding="0">
    <div class="table-row">
      <div class="table-header"></div> <!-- Empty first cell-->
      {{#each system.attributes as |details attribute|}}
      <div data-tooltip="{{attrName attribute}}" class="table-header">
        <a data-action="advanceAttr" data-name="{{attribute}}" data-type="refund" data-cost="{{details.refund}}">
          <i class="fas fa-minus advance-fa" style="font-size: 10px;"></i>
        </a>
        <b>{{attrAbbr attribute}}</b>
        <a data-action="advanceAttr" data-name="{{attribute}}" data-type="advance" data-cost="{{details.cost}}">
          <i class="fas fa-plus advance-fa" style="font-size: 10px;"></i>
        </a>
      </div>
      {{/each}}
    </div>
    <div class="table-row" style="gap: 1px; padding-bottom: 2px;">
      <div class="row-type table-data">
        <div class="column-name lineheight">
          {{localize "Level"}}
        </div>
      </div>
      {{#each system.attributes as |details attribute|}}
      <div class="number-input table-data">
        <input
          class="core-value"
          data-target="system.attributes.{{attribute}}.advances"
          type="number"
          value="{{details.advances}}"
          data-dtype="Number"
          style="text-align: center;"
        >
      </div>
      {{/each}}
    </div>
    <div class="table-row" style="gap: 1px;">
      <div class="row-type table-data">
        <div class="column-name lineheight">
          {{localize "Status"}}
        </div>
      </div>
      {{#each system.attributes as |details attribute|}}
      <div class="table-data">
        <span class="output" style="width: calc(100% - 2px);">{{details.status}}</span>
      </div>
      {{/each}}
    </div>
  </div>
</div>