<aside>
  <div class="hotbar-frame"></div>
  <div class="hotbar-content" data-action="click">
    <div style="flex: 4; min-width: 100px;"> {{!-- Name and attr dice section --}}
      <div style="display: flex; justify-content: space-between; align-items: bottom;">
        <div class="hotbar-actor-name">{{selectedActorName}}</div>
        <a class="ui-control fa-solid fa-rotate-right icon" data-action="reloadActor"
          data-tooltip aria-label="{{localize 'HOTBAR.RELOAD'}}" style="width: 22px; height: 22px;"></a>
      </div>
      <div style="display: grid; grid-template-columns: repeat(9, 1fr); margin-top: 5px; width: 95%;">
        {{#each attributes as |attr name|}}
          <button type="button" class="hotbar-d20" data-action="rollAttr" data-attribute="{{name}}"
            style="height: fit-content; min-height: 10pt; background: none; border: none;"
            data-tooltip aria-label="{{attrName name}} {{genName 'Check'}}">
              <img class="hotbar-d20-{{name}}" />
              <span class="hotbar-d20-overlay">{{attr.value}}</span>
          </button>
          <div></div> {{!-- Empty div to fill every other space --}}
        {{/each}}
      </div>
      <div style="display: flex; justify-content: center; height: 27%; margin-top: 7px; gap: 10px;">
        {{#times heroToken.max}}
          {{#if (checkST this ../heroToken.available)}}
            <a class="ui-control hotbar-token-img hero-token-white" data-action="heroTokenUsed"
              data-tooltip aria-label="{{genName 'HeroToken'}}"></a>
          {{else}}
            <a class="ui-control hotbar-token-img hero-token-spent" data-action="heroTokenRegen"
              data-tooltip aria-label="{{genName 'HeroTokenSpent'}}"></a>
          {{/if}}
        {{/times}}
      </div>
    </div>

    <div class="hotbar-separator"></div>

    <div style="flex: 3;">
      {{>
        systems/the_edge/templates/generic/progress-bar-modern.hbs
        name="Health" value=actor.system.health.value max=actor.system.health.max.value fillId="health"
      }}
      {{>
        systems/the_edge/templates/generic/progress-bar-modern.hbs
        name="Heart Rate" value=actor.system.heartRate.value max=actor.system.heartRate.max.value fillId="heartRate"
      }}
      {{#unless (checkEqual armourProtection.value 0)}}
        {{>
          systems/the_edge/templates/generic/progress-bar-modern.hbs
          name="Armour" value=armourProtection.value max=armourProtection.original fillId="armour"
        }}
      {{/unless}}
    </div>

    <div class="hotbar-separator"></div>

    {{!-- Lowered right section --}}
    <div style="flex: 16; padding-top: 0.7%; display: flex", id="hotbar-lowered-right">
      <div style="flex: 3">
        <button type="button" data-action="searchProficiency" style="width: 100%; border: none; background: none; height: 28px;">
          <input class="proficiency-input" name="proficiency" type="text" value="" placeholder="{{genName 'Search Proficiency'}}"
            style="text-align: right; padding-right: 8px;">
        </button>
        {{> systems/the_edge/modules/applications/templates/hotbar/proficiency.hbs}}
      </div>

      <div class="hotbar-separator"></div>

      {{> systems/the_edge/modules/applications/templates/hotbar/weapon.hbs}}

      <div class="hotbar-separator"></div>

      {{> systems/the_edge/modules/applications/templates/hotbar/dynamic-field.hbs}}
    </div>
  </div>
</aside>
