<header class="sheet-header">
  <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
  <div class="header-fields">
    <div style="display: flex; align-items: center;">
      <div style="flex-grow: 5">
        <h2 class="charname" style="margin-bottom: 0px;">
          <input name="name" type="text" value="{{actor.name}}" placeholder="Name" style="min-height: 32px;"/>
        </h2>
        <div class="columned-page" style="{{#if (checkEqual helpers.armourProtection.value 0)}}padding: 0 10% 0 10%;{{/if}}">
          <div class="page-centered">
            <div class="attribute-title" style="margin-bottom: 10px;">{{genName "health"}}</div>
            {{>
              systems/the_edge/templates/generic/progress-bar-modern.hbs
              value=system.health.value
              max=system.health.max.value
              valueEditable=true valueDataPath="system.health.value"
              fillId="health" textScale=1.2
            }}
          </div>
          <div class="page-centered">
            <div class="attribute-title" style="margin-bottom: 10px;">{{genName "Heartrate"}}</div>
            {{>
              systems/the_edge/templates/generic/progress-bar-modern.hbs
              value=system.heartRate.value
              max=system.heartRate.max.value
              segments=helpers.hrProgressBarData
              valueEditable=true valueDataPath="system.heartRate.value"
              fillId="heartRate" textScale=1.2
            }}
          </div>
          {{#unless (checkEqual helpers.armourProtection.value 0)}}
            <div class="page-centered">
              <div class="attribute-title" style="margin-bottom: 10px;">{{genName "Armour"}}</div>
              {{>
                systems/the_edge/templates/generic/progress-bar-modern.hbs
                value=helpers.armourProtection.value
                max=helpers.armourProtection.original
                fillId="armour" textScale=1.2
              }}
            </div>
          {{/unless}}
        </div>
      </div>
      <div style="margin-left: 15px;">
        <div class="page-centered">
          {{#each prepare.herotoken as |token|}}
            {{#if token}}
              <a class="token-img hero-token" data-action="heroTokenUsed" data-tooltip aria-label="{{genName 'HeroToken'}}"></a>
            {{else}}
              <a class="token-img hero-token-spent" data-action="heroTokenRegen" data-tooltip aria-label="{{genName 'HeroTokenSpent'}}"></a>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class="columned-page" style="text-align: center; margin-top: 12px">
      {{#each prepare.attrs as |attr|}}
      <div class="page-centered">
        <a class="attr-d20 d20-{{attr}}" data-attribute="{{attr}}" data-action="rollAttribute">
          <span class="d20-overlay">{{getEntry (getEntry ../system.attributes attr) 'value'}}</span>
        </a>
        <p class="attribute-title" style="margin-top: -5px;">{{attr}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</header>
