<div class="progress-wrapper">
  <svg viewBox="-2 -4 102 24"
    style="overflow: visible"
    xmlns="http://www.w3.org/2000/svg"> {{!-- Extra padding for strokes --}}
    <defs>
      <path id="bar-path"
        d="M2 0 H20 L23 3 H98 L100 5 V11 L98 13 H80 L77 10 H2 L0 8 V2 Z" />
      <!-- 45-degree corner path -->
      <clipPath id="clip-bar">
        <use href="#bar-path" />
      </clipPath>

      <!-- Glass background gradient -->
      <linearGradient id="glass" x1="0" y1="0" x2="0.1" y2="1">
        <stop offset="0%" stop-color="rgba(255,255,255,0.25)" />
        <stop offset="50%" stop-color="rgba(255,255,255,0.08)" />
        <stop offset="100%" stop-color="rgba(255,255,255,0.15)" />
      </linearGradient>

      <!-- Progress gradient -->
      <linearGradient id="progressGradient{{fillId}}" x1="0" y1="0" x2="1" y2="0">
        <stop offset="0%" stop-color="{{progressBarColour 0 fillId}}" />
        <stop offset="70%" stop-color="{{progressBarColour 1 fillId}}" />
        <stop offset="100%" stop-color="{{progressBarColour 2 fillId}}" />
      </linearGradient>


      <!-- Glow gradient -->
      <linearGradient id="glowGradient" x1="0" y1="0" x2="1" y2="0">
        <stop offset="0%" stop-color="rgba(255,255,255,0)" />
        <stop offset="50%" stop-color="rgba(255,255,255,0.9)" />
        <stop offset="100%" stop-color="rgba(255,255,255,0)" />
      </linearGradient>
    </defs>


    <!-- Background (glassy, merges with bg) -->
    <use href="#bar-path"
      fill="url(#glass)"
      opacity="1.0" />

    <!-- Progress group -->
    {{#if value}}
      <g clip-path="url(#clip-bar)">
        <!-- Actual progress fill -->
        <rect x="0" y="0" width="{{mul (div value max) 100}}" height="16"
          fill="url(#progressGradient{{fillId}})"
          class="progress-fill-animation" />

        <!-- Moving glow -->
        <rect x="-120" y="0" width="{{mul (div value max) 100}}" height="16"
          fill="url(#glowGradient)"
          class="glow" />
    
        {{!-- Segements --}}
        {{#if (checkNotEmpty segments)}}
          {{#each segments as |segment|}}
            <line x1="{{mul (div segment.value ../max) 100}}" y1="0"
              x2="{{mul (div segment.value ../max) 100}}" y2="20" stroke="#BBB" stroke-width="1.5" />
          {{/each}}
        {{/if}}
      </g>
    {{/if}}

    {{!-- Segements --}}
    {{#if (checkNotEmpty segments)}}
      {{#each segments as |segment|}}
        <foreignObject x="calc({{mul (div segment.value ../max) 100}} - 6)" y="15" width="12" height="12" overflow="visible">
          <div class="svg-segment-label" data-tooltip aria-label="{{segment.value}}">
            <div class="svg-div-text">
              {{segment.label}}
            </div>
          </div>
        </foreignObject>
      {{/each}}
    {{/if}}
    
    {{!-- Outline --}}
    <use href="#bar-path"
      stroke="rgba(255,255,255,0.4)"
      stroke-width="1.2"
      stroke-linejoin="bevel"
      fill="none" />

    {{!-- Informations --}}
    {{#if nameEditable}}
      <foreignObject x="0" y="12" width="100" height="28" overflow="visible">
        <div style="display: flex; justify-content: start; align-items: top;">
          <a data-tooltip aria-label="{{ itemName 'Delete Counter' }}"
            data-action="counterControl" data-subaction="delete" style="line-height: 8px;">
            <i class="fas fa-trash" style="font-size: 8px;"></i>
          </a>
          <input xmlns="http://www.w3.org/1999/xhtml" class="svg-progress-input svg-progress-name {{inputClass}}"
            type="text" name="{{nameDataPath}}" value="{{name}}" data-subtype="name" />
        </div>
      </foreignObject>
    {{else}}
      <text x="0" y="17.5" fill="white" font-size="8">{{name}}</text>
    {{/if}}

    {{#if max}}
      <foreignObject x="0" y="-8" width="100" height="14" overflow="visible">
        <div style="display: flex; justify-content: end; align-items: top;
          transform: scale({{defaultTo textScale 1.0}}); transform-origin: bottom right;">
            {{#if valueEditable}}
              <input xmlns="http://www.w3.org/1999/xhtml" class="svg-progress-input {{inputClass}}"
                type="number" name="{{valueDataPath}}" value="{{value}}" data-subtype="value" data-max={{max}} />
            {{else}}
              <div class="svg-div-text">{{value}}</div>
            {{/if}}
            <div class="svg-div-text">&nbsp;/&nbsp;</div>
            {{#if maxEditable}}
              <input xmlns="http://www.w3.org/1999/xhtml" class="svg-progress-input {{inputClass}}"
                type="number" name="{{maxDataPath}}" value="{{max}}" data-subtype="max" />
            {{else}}
              <div class="svg-div-text">{{max}}</div>
            {{/if}}
          </div>
        </foreignObject>
    {{/if}}
  </svg>
</div>