<div class="progress-container">
  <div class="progress-bar">
    <div class="progress-fill" style="
      width: {{mul (div value max) 100}}%;
      background: linear-gradient(60deg, {{progressBarColour 0 id}}, {{progressBarColour 1 id}});
    "></div>
    {{#if (checkNotEmpty segments)}}
      {{#each segments as |segment|}}
        <div class="progress-segment" style="left: {{mul (div segment.value ../max) 100}}%;"></div>
      {{/each}}
    {{/if}}
    <input class="progress-input" name="{{name}}" type="number" value="{{value}}">
  </div>
  <div class="progress-segment-labels">
    <div class="progress-segment-label" style="left:0%;">0</div>
    <div class="progress-segment-label" style="left:100%;">{{max}}</div>
    {{#if (checkNotEmpty segments)}}
      {{#each segments as |segment|}}
        <div class="progress-segment-label"
          style="left: {{mul (div segment.value ../max) 100}}%; transform: translateX(-90%);"
          data-tooltip="{{segment.value}}">
          {{segment.label}}
        </div>
      {{/each}}
    {{/if}}
  </div>
</div>