{{!-- 
Interface:
- title: Displayed over the slider
- id (optional): used for slider identification, Default to `title`
- min (optional): Smallest value the slider may take
- max: Largest value the Slider may take
- value (optional): Current value the slider posses, Default: 0
- isDynamic (optional): Whether the slider can grow
 --}}
{{#define
  min=(or min 0) id=(or id title) value=(or value 0) isDynamic=(or isDynamic 0)
  _orig_min=(or _orig_min min) _orig_max=(or _orig_max max)
}}
<div class="slider-hook" data-id="{{id}}" data-binary-context="{{dumpContext}}">
  {{title}}
  {{#define
    x_center=(mul (div (sub 0 min) (sub max min)) 100)
    value_coord=(mul (div (sub value min) (sub max min)) 100)
  }}
  <svg viewBox="-3 -3 106 11" 
    style="overflow: visible"
    xmlns="http://www.w3.org/2000/svg">
    <defs>
      <style>
        .axis-dim { opacity: 0.2; }
        .n-axis { stroke: var(--color-ui-secondary-1); stroke-width: 2; }
        .n-axis-glow { filter: drop-shadow(0 0 1px var(--color-ui-secondary-1)); }
        .p-axis { stroke: var(--color-ui-main-1); stroke-width: 2; }
        .p-axis-glow { filter: drop-shadow(0 0 1px var(--color-ui-main-1)); }

        .click-box { opacity: 0; }

        .slider-tick-label { fill: white; font-size: 5px; text-anchor: middle; }
      </style>
    </defs>
    {{!-- Axix --}}
    <line x1="0" y1="0" x2="{{x_center}}" y2="0" class="n-axis axis-dim"/>
    <line x1="{{x_center}}" y1="0" x2="100" y2="0" class="p-axis axis-dim"/>
    <line
      x1="{{value_coord}}" y1="0" x2="{{x_center}}" y2="0"
      class="{{#if (checkST value 0)}}n-axis n-axis-glow{{else}}p-axis p-axis-glow{{/if}}"
    />
    <line
      x1="{{value_coord}}" y1="-2.5" x2="{{value_coord}}" y2="2.5"
      class="{{#if (checkST value 0)}}n-axis n-axis-glow{{else}}p-axis p-axis-glow{{/if}}"
    />

    {{!-- Labels --}}
    <text x=  "0" y="7" class="slider-tick-label">{{min}}</text>
    <text x="100" y="7" class="slider-tick-label">{{max}}</text>
    {{#unless (or (checkEqual value min) (checkEqual value max))}}
    <text x="{{value_coord}}" y="7" class="slider-tick-label">{{value}}</text>
    {{/unless}}

    {{!-- Click regions --}}
    {{#define hit_region_width=(div 100 (sub max min))}}
    {{#define hit_region_start=(div hit_region_width 2)}}
    {{#range min max 1}}
    {{#define index=(sub this ../min)}}
    <rect x="{{add ../../hit_region_start (mul ../../hit_region_width (sub index 1))}}" y="-3"
      width="{{../../hit_region_width}}" height="8"
      class="click-box slider-click-hook" data-value="{{../this}}"/>
    {{/define}}
    {{/range}}
    {{/define}}
    {{/define}}
  </svg>
  {{/define}}
</div>
{{/define}}