<div style="display: flex; gap: 5px;">
  {{#each system.weapons as |group groupName|}}
    <table>
      <thead>
        <tr>
          <th style="width: 60%"><p style="font-size: 14; text-transform: uppercase;">{{itemName groupName}}</p></th>
          <th class="combat-table-element" data-tooltip aria-label="{{genName 'Level'}}">{{genName "Lvl"}}</th>
          <th class="combat-table-element" data-tooltip aria-label="{{genName 'Status'}}">{{genName "Sta"}}</th>
          {{#if (checkEqual groupName "general")}}
          {{else}}
            <th class="combat-table-element" data-tooltip aria-label="{{genName 'Total'}}">{{genName "Ttl"}}</th>
          {{/if}}
        </tr>
      </thead>
      <tbody>
        {{#each group as |modifiers weapon|}}
          <tr>
            <td style="font-weight: bold;">{{combatName weapon}}</td>
            <td class="combat-table-element" align="right">
              <input
                class="core-value" data-target="system.weapons.{{groupName}}.{{weapon}}.advances" type="number"
                value="{{getWeaponProficiency ../../actor groupName weapon 'advances'}}" data-dtype="Number"
                style="max-height: 22px; text-align: right; width: 28px; padding: 0 2px 0 0;"
              >
            </td>
            <td class="combat-table-element" align="right">
              <div class="output" style="max-height: 22px; width: 28px; text-align: right;">
                {{getWeaponProficiency ../../actor groupName weapon 'status'}}
              </div>
            </td>
            {{#if (checkEqual groupName "general")}}
            {{else}}
              <td class="combat-table-element" align="right"
                data-tooltip aria-label="{{combatName 'Weapon Prof Total'}}">
                <div class="output" style="max-height: 22px; width: 28px; text-align: right;">
                  {{getWeaponLevel ../../actor weapon}}
                </div>
              </td>
            {{/if}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/each}}
</div>
<div style="display: flex; justify-content: end; margin-left: auto; margin-right: 15px; gap: 5px; white-space: nowrap; align-items: center;">
  {{genName "PracticeHours"}}
  <span class="output" style="width: 115px;">{{system.PracticeHours.used}} / {{system.PracticeHours.max}}</span>
</div>