<div class="fixed-page">
  <div class="title">
    <div class="section-title">{{combatName "Loadout"}}</div>
  </div>
  <div class="loadout-container">
    <div class="loadout-box">
      <div class="item-control item loadout-name" data-tooltip="1d(Str + Crd) + Str">
        <img class="item-img" src="systems/the_edge/icons/fist.png" title="{{item.name}}" width="24" height="24" />
        <div>{{genName "Hand to Hand"}}</div>
      </div>
      <a class="weapon-d20 d20-black" data-action="rollAttack" data-tooltip="{{combatName 'Attack'}} - {{combatName 'Lead attr combatics'}}" data-type="Hand-to-Hand combat">
        <span class="d20-overlay-weapon">{{calcCombaticsPL actor}}</span>
      </a>
    </div>
    {{#each helpers.equippedWeapons as |weapon|}}
      <div class="loadout-box">
        <div class="item-control item loadout-name" data-action="itemControl" data-subaction="edit" style="cursor: pointer;" data-item-id="{{weapon._id}}">
          <img class="item-img" src="{{weapon.img}}" title="{{weapon.name}}" style="width: 24px; height: 24px;" />
          <div style="min-height: 24px;">{{weapon.name}} {{getLoadedAmmunition ../actor weapon}}</div>
        </div>
        <div class="weapon-id" style="display: flex; flex-wrap: nowrap; gap: 5px; align-items: center;" data-weapon-id="{{weapon._id}}">
          {{#if (checkEqual weapon.system.type "Hand-to-Hand combat")}}
          {{else}}
            <div data-action="reload" style="background-color: black; font-size: large; font-weight: 500; color: white; width: 25px; height: 25px; text-align: center;">
              R
            </div>
          {{/if}}
          <a class="weapon-d20 d20-black" data-action="rollAttack" data-tooltip="{{combatName 'Attack'}}" data-type="{{weapon.system.type}}">
            <span class="d20-overlay-weapon">{{calcWeaponPL ../actor weapon._id}}</span>
          </a>
        </div>
      </div>
    {{/each}}
  </div>
</div>