<div style="display: table;">
  <div style="display: table-row;">
    <div style="display: table-cell;"><b>{{genName "Capacity"}}:</b></div>
    <div style="display: table-cell; padding-left: 10px;">{{system.capacity.max}}</div>
  </div>

  <div style="display: table-row;">
    <div style="display: table-cell;"><b>{{genName "Type"}}:</b></div>
    <div style="display: table-cell; padding-left: 10px;">
      {{combatName system.type}}
      {{#if (or (checkEqual system.subtype "small") (checkEqual system.subtype "large"))}}
        ({{itemName system.subtype}})
      {{else}}
        ({{system.subtype}})
      {{/if}}
    </div>
  </div>

  <div style="display: table-row;">
    <div style="display: table-cell;"><b>{{genName "Damage"}}:</b></div>
    <div style="display: table-cell; padding-left: 10px;">{{system.damage.bonus}} {{genName "Bonus"}}</div>
  </div>
  <div style="display: table-row;">
    <div style="display: table-cell;"></div>
    <div style="display: table-cell; padding-left: 10px;">{{system.damage.penetration}} {{genName "penetration"}}</div>
  </div>
</div>
<b style="margin-bottom: 5px;">{{combatName "Precision"}}</b>
{{> systems/the_edge/templates/generic/range-chart.hbs rangeChart=system.rangeChart}}