<header class="sheet-header-item">
  <div class="item-columned-page">
    <div class="item-header-fields">
      {{genName "Weight"}}<br/>
      <input type="number" name="system.weight" value="{{item.system.weight}}" data-dtype="Number"/>
    </div>
    <div class="item-header-fields">
      {{genName "Value"}}<br/>
      <input type="number" name="system.value" value="{{item.system.value}}" data-dtype="Number"/>
    </div>
    <div class="item-header-fields">
      {{genName "Quantity"}}<br/>
      <input type="number" name="system.quantity" value="{{item.system.quantity}}" data-dtype="Number"/>
    </div>
    <div class="item-header-fields" style="padding-top: 12px; min-width: 37%;">
      {{>
        systems/the_edge/templates/generic/progress-bar-modern.hbs
        value=item.system.capacity.value valueEditable=true valueDataPath="system.capacity.value"
        max=item.system.capacity.max maxEditable=true maxDataPath="system.capacity.max"
        name=(genName "Capacity") textScale=1.2
      }}
    </div>
  </div>
</header>
