<div class="item-header-frame item-header-frame-tag">
  <svg viewBox="0 0 {{width}} {{height}}"
    style="overflow: visible;"
    xmlns="http://www.w3.org/2000/svg">
    <defs>
      <path id="item-header-outline"
        d="{{path}}" />
    </defs>

    {{!-- Background --}}
    <use href="#item-header-outline"
      style="filter: drop-shadow(0 3px 5px black);"
      fill="black" />
    
    {{!-- Outline --}}
    <use href="#item-header-outline"
      stroke="var(--theme-color-secondary)"
      style="filter: drop-shadow(0 0 5px var(--theme-color-secondary));"
      stroke-width="4"
      stroke-linejoin="bevel"
      fill="none" />
  </svg>

  <div class="item-header-content">
    <div class="item-header-img-container" style="min-width: calc({{height}}px - 15px); height: calc({{height}}px - 15px);">
      <img class="item-header-img" src="{{imgPath}}" data-action="editImage" title="{{name}}" style="cursor: pointer;"/>
    </div>
    <input class="item-header-name" name="name" type="text" value="{{name}}" placeholder="Name"
      style="width: 100%;"/>
  </div>
</div>
