<div class="item-footer" style="height: {{pathHeight}}px; transform: translateY({{pathHeight}}px);">
  <svg viewBox="0 0 {{width}} {{pathHeight}}"
    style="overflow: visible;"
    xmlns="http://www.w3.org/2000/svg">
    <defs>
      <path id="item-footer-outline"
        d="{{path}}" />
    </defs>

    {{!-- Background --}}
    <use href="#item-footer-outline"
      {{!-- style="filter: drop-shadow(0 3px 5px black);" --}}
      fill="var(--color-background-night-black)" />
    
    {{!-- Outline --}}
    <use href="#item-footer-outline"
      stroke="var(--theme-color-secondary)"
      style="filter: drop-shadow(0 0 5px var(--theme-color-secondary));"
      stroke-width="4"
      stroke-linejoin="bevel"
      fill="none" />
  </svg>

  <div class="item-footer-content" style="height: {{pathHeight}}px;">
    {{{content}}}
  </div>
  <div class="window-resize-handle" title="{{genName 'Resize'}}"></div>
</div>