<div>
  <div style="display: flex; gap: 5px">
    <input class="item-generic-input" type="number" name="system.weight" value="{{item.system.weight}}" data-dtype="Number"/>
    {{genName "Weight"}}<br/>
  </div>
  <div style="display: flex; gap: 5px">
    <input class="item-generic-input" type="number" name="system.value" value="{{item.system.value}}" data-dtype="Number"/>
    {{genName "Value"}}<br/>
  </div>
  <div style="display: flex; gap: 5px">
    <input class="item-generic-input" type="number" name="system.quantity" value="{{item.system.quantity}}" data-dtype="Number"/>
    {{genName "Quantity"}}<br/>
  </div>
</div>