<section
  class="tab {{tabs.attachments.cssClass}}"
  data-group="primary"
  data-tab="attachments"
  style="overflow-y: auto; overflow-x: hidden"
>
  <table>
    <tr>
      <td></td>
      <td style="text-align: center;">{{combatName "Absorption"}}</td>
      <td style="text-align: center;">{{combatName "Threshold"}}</td>
    </tr>
    <tr>
      {{#each item.system.attachments as |attachment|}}
        <tr>
          <td>
            <div style="display: flex; justify-content: space-between; align-items: center" data-index={{@index}}
              data-actor-id="{{attachment.actorId}}" data-token-id="{{attachment.tokenId}}" data-attachment-id="{{attachment.shell._id}}">
              <a style="cursor: pointer;" data-action="editAttachment">
                {{attachment.shell.name}}
              </a>
              <a class="attachment-detach" title="{{ itemName 'Detach' }}" data-action="detachAttachment"><i class="far fa-square-minus"></i></a>
            </div>
          </td>
          <td style="text-align: center;">
            <div class="output" style="width: 25px;">
              {{attachment.shell.system.protection.energy.absorption}}
            </div>
            <div class="output" style="width: 25px;">
              {{attachment.shell.system.protection.kinetic.absorption}}
            </div>
            <div class="output" style="width: 25px;">
              {{attachment.shell.system.protection.elemental.absorption}}
            </div>
          </td>
          <td style="text-align: center;">
            <div class="output" style="width: 25px;">
              {{attachment.shell.system.protection.energy.threshold}}
            </div>
            <div class="output" style="width: 25px;">
              {{attachment.shell.system.protection.kinetic.threshold}}
            </div>
            <div class="output" style="width: 25px;">
              {{attachment.shell.system.protection.elemental.threshold}}
            </div>
          </td>
        </tr>
      {{/each}}
    </tr>
  </table>
</section>
