<div>
  <div style="display: flex; gap: 5px; align-items: center;">
    <input class="item-generic-input" type="number" name="system.weight" value="{{item.system.weight}}" data-dtype="Number"/>
    {{genName "Weight"}}<br/>
  </div>
  <div style="display: flex; gap: 5px; align-items: center;">
    <input class="item-generic-input" type="number" name="system.value" value="{{item.system.value}}" data-dtype="Number"/>
    <img src="systems/the_edge/icons/credits.png" style="height: 16px;"/>
  </div>
  <div style="display: flex; gap: 5px; align-items: center;">
    <input class="item-generic-input" type="number" name="system.quantity" value="{{item.system.quantity}}" data-dtype="Number"/>
    {{genName "Quantity"}}<br/>
  </div>
</div>