<header class="sheet-header-item" style="flex: 0 0 24px;">
  <div style="display: flex; align-items: center; gap: 10px; width: 100%">
  {{#if (checkIn "strainCost" item.system)}}
    <label for="hrCost" style="white-space: nowrap;">{{genName "Strain Cost"}}</label>
    <input type="text" id="hrCost" name="system.strainCost" value="{{item.system.strainCost}}" style="text-align: right;"/>
    {{!-- Change input to dynamic width --}}
  {{/if}}
  {{#if (checkIn "basis" item.system)}}
    <label for="basis" style="white-space: nowrap; padding-left: 10px;">{{genName "Uses"}}</label>
    <select class="selection-box" name="system.basis" id="basis" style="max-height: 24px; width: fit-content">
      <option value="Medicine" {{#if (checkEqual "Medicine" item.system.basis)}}selected{{/if}}>{{proficiencyName "Medicine"}}</option>
      <option value="First Aid" {{#if (checkEqual "First Aid" item.system.basis)}}selected{{/if}}>{{proficiencyName "First Aid"}}</option>
    </select>
  {{/if}}
  </div>
</header>