<section
  class="tab {{tabs.details.cssClass}}"
  data-group="primary"
  data-tab="details"
  style="overflow-y: auto; overflow-x: hidden"
>
  <h3>{{genName "Effects"}}</h3>
  {{#each item.system.effects as |modifiers|}}
    <div class="effect-modifiers-hook" data-type="effects" data-index="{{@index}}"
      data-title="{{concat (genName 'Level') ' ' (add @index 1) ' ' (genName 'Effects')}}" style="padding-bottom: 7px;">
      {{> systems/the_edge/templates/generic/effect-modifiers.hbs
        modifiers=modifiers
        definedEffects=../definedEffects
        interactive=true
        title=(concat (genName "Level") " " (add @index 1) " " (genName "Effects"))
      }}
    </div>
    {{#unless @last}}
      <hr />
    {{/unless}}
  {{/each}}
  <h3>{{genName "Requirements"}}</h3>
  {{#each item.system.requirements as |modifiers|}}
    <div class="effect-modifiers-hook" data-type="requirements" data-index="{{@index}}"
      data-title="{{concat (genName 'Level') ' ' (add @index 1) ' ' (genName 'Requirements')}}" style="padding-bottom: 7px;">
      {{> systems/the_edge/templates/generic/effect-modifiers.hbs
        modifiers=modifiers
        definedEffects=../definedEffects
        interactive=true
        title=(concat (genName "Level") " " (add @index 1) " " (genName "Requirements"))
      }}
    </div>
    {{#unless @last}}
      <hr />
    {{/unless}}
  {{/each}}
</section>
