<header class="sheet-header-item" style="flex: 0 0 90px;">
  <div class="item-columned-page">
    <div style="display: grid; grid-template-columns: auto auto; gap: 0 5px; grid-auto-rows: 28px; align-items: center;">
      <label for="Type Selector">{{genName "Type"}}</label>
      <select class="selection-box" name="system.type" id="Type Selector">
        {{#each helpers.weapon_types as |type|}}
          <option value="{{type}}" {{#if (checkEqual type ../item.system.type)}}selected{{/if}}>{{type}}</option>
        {{/each}}
      </select>
      <label for="is-elemental">{{combatName "Elemental"}}</label>
      <input type="checkbox" id="is-elemental" name="system.isElemental" {{#if item.system.isElemental}}checked{{/if}} style="margin-left: 0px;"/>
      {{#if (checkEqual item.system.type "Hand-to-Hand combat")}}
          <label for="Damage">{{genName "Damage"}}</label>
          {{#each item.system.fireModes as |mode|}}
            {{#if @first}}
              <input class="firing-mode firing-mode-modify" data-index="{{@index}}" type="text"
                data-target="damage" value="{{mode.damage}}" style="width: 120px; text-align: right;" id="Damage"/>
            {{/if}}
          {{/each}}
      {{/if}}
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <label for="Attr1-Selector">{{genName "_attr"}} 1</label>
      {{#if userIsGM}}
        <select class="selection-box" name="system.leadAttr1.name" id="Attr1-Selector"
          style="width: 57px; text-transform: capitalize; padding: 0">
          {{#each helpers.attrs as |attr|}}
            <option value={{attr}} {{#if (checkEqual attr ../item.system.leadAttr1.name)}}selected{{/if}}>{{attr}}</option>
          {{/each}}
        </select>
      {{else}}
        <a class="attr-d20-chat d20-{{item.system.leadAttr1.name}}">
          <span class="d20-overlay" data-tooltip="{{attrName item.system.leadAttr1.name}}">{{item.system.leadAttr1.name}}</span>
        </a>
      {{/if}}
      <input type="number" name="system.leadAttr1.value" value="{{item.system.leadAttr1.value}}"
        style="width: 57px; text-align: right;"/>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <label for="Attr2-Selector">{{genName "_attr"}} 2</label>
      {{#if userIsGM}}
        <select class="selection-box" name="system.leadAttr2.name" id="Attr2-Selector"
          style="width: 57px; text-transform: capitalize; padding: 0">
          {{#each helpers.attrs as |attr|}}
            <option value={{attr}} {{#if (checkEqual attr ../item.system.leadAttr2.name)}}selected{{/if}}>{{attr}}</option>
          {{/each}}
        </select>
      {{else}}
        <a class="attr-d20-chat d20-{{item.system.leadAttr2.name}}">
          <span class="d20-overlay" data-tooltip="{{attrName item.system.leadAttr2.name}}">{{item.system.leadAttr2.name}}</span>
        </a>
      {{/if}}
      <input type="number" name="system.leadAttr2.value" value="{{item.system.leadAttr2.value}}"
        style="width: 57px; text-align: right;"/>
    </div>
  </div>
</header>